# JetBrains IDEs
/out/
/.idea/

*.iml
*.ipr
*.iws

# VsCode
/.vscode/
/bin/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Gradle
.gradle
/build/

# Loom
/src/main/generated/.cache
run/
